doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Esports Datahub
    meta(name='description', content='')
    meta(name='author', content='Joseph Farrell, Yuying Mao')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='public/css/stylesheet.css')
    script(src='public/js/scripts.js')
  body
    header
      nav.navbar.navbar-inverse
        a.navbar-brand(href='/')
          strong Esports Datahub
        ul.nav.navbar-nav
          li
            a(href='about.html') About
          li
            a(href='contact.html') Contact
    main
      .container
        .row
          .col-md-6
            h2#start_search Search
            #custom-search-input
              form.querySummoner.input-group.col-md-12.querySummoner(method='post', action='/querySummoner')
                input.form-control.input-lg.summoner(type='text', name='summoner', placeholder='Summoner Name')
                span.input-group-btn
                  button.btn.btn-info.btn-lg(type='submit')
                    i.glyphicon.glyphicon-search
        br
        .row
          table.table
            tbody
              tr
                th(scope='row') Summoner
                td #{account_username}
              tr
                th(scope='row') Win Rate
                td #{win_rate_o}
              tr
                th(scope='row') Kills
                td #{p_stats_o[0].kills}
              tr
                th(scope='row') Largest Killing Spree
                td #{p_stats_o[0].largestkillingspree}
              tr
                th(scope='row') Deaths
                td #{p_stats_o[0].deaths}
              tr
                th(scope='row') Physical Damage Dealt
                td #{p_stats_o[0].physicaldamagedealt}
              tr
                th(scope='row') Magic Damage Dealt
                td #{p_stats_o[0].magicdamagedealt}
              tr
                th(scope='row') Total Damage Dealt
                td #{p_stats_o[0].totaldamagedealt}
              tr
                th(scope='row') Wards Placed
                td #{p_stats_o[0].wardsplaced}
      br
    footer
      | Awesome site. Copyright something.
